hr.newsection {
}

.padded {
  padding: 1em;
}

.spoilerstate {
  display: none;
}
.spoiler {
  max-width: 90%;
  text-align: justify;
  box-shadow: #0002 0 0 2em;
  z-index: -1;
  margin: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s;
}

.spoilerstate:checked + * + .spoiler{
  max-height: 100vh;
//  overflow-y: auto;
}

.spoilerheader {
  font-weight: bold;
  background: lightgray;
  width: 100%;
  padding: .5em 0 .5em 1em;
  border-bottom: solid 1px #0002;
}

.spoilerheader::before {
  content: '▲';
  display: inline-block;
  transform: translate(-.42em,-.1em) rotate(90deg);
  transition: transform .5s;
}

.spoilerstate:checked + * > .spoilerheader::before {
  transform: translate(-.42em,-.1em) rotate(180deg);
}