:root {
	--lighter-gray: #f4f4f4;
}

hr.newsection {
}

.full-width {
  width: 100%;
}

.padded {
  padding: 1.5em;
  padding-bottom: 2em;
}

.gridgallery {
  display: grid;
  column-gap: .3em;
}
.gridgallery *{
  width: 100%;
}


.spoilerstate {
  display: none;
}
.spoiler {
  max-width: 95%;
  text-align: justify;
  box-shadow: #0002 0 0 2em;
  z-index: -1;
  margin: auto;
  overflow: hidden;
  transition: max-height .5s;
}

.spoilerstate:not(:checked) + * + .spoiler{
  max-height: 0 !important;
}

.spoilerheader {
  font-weight: bold;
  background: var(--lighter-gray);
  width: 100%;
  padding: .5em 0 .5em 1em;
  border-bottom: solid 1px #0002;
}

.spoilerheader::before {
  content: '▲';
  display: inline-block;
  transform: translate(-.35em,-.05em) rotate(90deg);
  transition: transform .5s;
}

.spoilerstate:checked + * > .spoilerheader::before {
  transform: translate(-.35em,-.05em) rotate(180deg);
}