/*--css link check--*/
div.csstest{
 background: purple;
}

	/*--GALLERY--*/
section.paralaximage
{
 position: relative;
 width: 744px;
 height: 190px;
 overflow: hidden;
 display: flex; 
 justify-content: center;
 align-items: center;
 background: red;
}
section.paralaximage img
{
 position: absolute;
 object-fit: cover;
/* pointer-events: none;*/
 margin: 0px;
}


	/*-- MAIN CONTENT --*/
.major {
    color: slategray;
    font-size: 35px;
}
.major a {    
    display:inline-block;    
    line-height:60px;
    color: slategray;
}


	/*--SOFT ICONS--*/
.major a.dwld[href$='.nb'] {    
    padding-left:55px;
    background: transparent url(icons/nb.png)  center left no-repeat;    
}
.major a.dwld[href$='.psd'] {    
    padding-left:55px;
    background: transparent url(icons/psd.png)  center left no-repeat;    
}
.major a.dwld[href$='.ai'] {    
    padding-left:55px;
    background: transparent url(icons/aid.png)  center left no-repeat;    
}
.major a.dwld[href$='.pdf'] {    
    padding-left:55px;
    background: transparent url(icons/pdf.png)  center left no-repeat;    
}
a.mdwld[href$='.nb'] {
    display:inline-block;    
    line-height: 40px;
    padding-left: 40px;
    background: transparent url(icons/nb.png)  center left no-repeat;    
    background-size: 30px;    
}
a.mdwld[href$='.pdf'] {
    display:inline-block;    
    line-height: 40px;
    padding-left: 40px;
    background: transparent url(icons/pdf.png)  center left no-repeat;    
    background-size: 30px;    
}
a.mdwld[href$='.ai'] {
    display:inline-block;    
    line-height: 40px;
    padding-left: 40px;
    background: transparent url(icons/aid.png)  center left no-repeat;    
    background-size: 30px;    
}
a.mdwld[href$='.psd'] {
    display:inline-block;    
    line-height: 40px;
    padding-left: 40px;
    background: transparent url(icons/psd.png)  center left no-repeat;    
    background-size: 30px;    
}
.notexticon{
font-size: 0px; 
margin-right: -5px;
padding-top: 10px; 
}




.block {
        padding-top: 25px;
        padding-bottom: 80px;
      }


	/*--TABLES--*/
.sectiontable tr {
    border-top: 1px solid silver;
    border-collapse: collapse;
    padding: 180px;
}

.pagehead {
    padding: 40px;
}
.gtitle {
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}
.group {
    padding-bottom: 30px;
}
.tool {
position: relative; 
bottom: -8px; 
margin: 0px; 
padding: 0px;
}
td{
position: relative;
}

.bottomrow{
position: absolute;
bottom: 5px;
right: 5px;
}

